<nav class="nabar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand">Video Converter</span>
    </div>
  </div>
</nav>
<h2 id="title">Welcome to Ember.js</h2>

{{outlet}}
